.home-page {
    color: white;
}
.home-page h1 {
    font-size: 12vh;    

}
.home-page span {
    font-size: 8vh;
}

.home-page .title {
    animation: moveRight 2s;
}

.home-page .title2 {
    animation: moveLeft 2s;
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0vw)
    }
}
@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0vw)
    }
}

.text-container {
    position: absolute;
    top: 30%;
    left: 20%;
}

.image-container {
    height: 60vh;
    width: 60vh;
    border-radius: 50%;
    position: absolute;
    left: 55vw;
    top: 50vh;
    transform: translateY(-50%);
    background-image: url("../../../public/PHOTO1.1.jpg");
    border: 1px solid white;
    background-repeat: no-repeat;
    background-size: cover;
}

#my-image {
    height: 60vh;
    width: 60vh;
    border-radius: 50%;
}

@media screen and (max-width: 800px) {
    #home {
        margin: 0px;
        padding: 0px;
        width: 100vw;
        height: 400px;
        padding: 1rem;
        margin-bottom: 3rem;
    }
    .text-container {
        /* position: relative; */
        /* top: 0%; */
        margin: auto;
        height: 200px;
    }
    .home-page h1 {
        font-size: 3rem;
    }

    .home-page span {
        font-size: 2rem;
    }

    #my-image {
        display: none;
    }

    .image-container {
        display: none;
    }


}