.frameLogo {
    height: 90%;
    width: 70%;
    margin: auto;
    border: 1px solid rgb(29, 49, 229);
    border-radius: 6%;
    transform-origin: 50% 2%;
    animation: swing 3s ease-in-out 0s infinite alternate forwards;
    text-align: center;
    box-shadow: 0px 0px 20px 5px rgb(29, 49, 229);
    transition: all 0.2s;
}

.frameLogo .logo-container {
    height: 20vh;
    width: 20vh;
    margin: auto;
    margin-top: 5%;
}

.frameLogo:hover {
    animation: none;
    transform: scale(1.1);
    z-index: 10;
}


.logo-container img {
    height: 20vh;
    width: 20vh;
}
.frameLogo h1 {
    text-align: center;
    color: white;
    font-size: 3vh;
}
.pin {
    height: 1.5vh;
    width: 1.5vh;
    border-radius: 50%;
    margin: auto;
    margin-top: 5%;
    border: 1px solid black;
    box-shadow: 1% 1% 1% 1% black;
    
}

@keyframes swing {
    0% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(8deg);
    }
}


.frameLogo:hover {
    transform: scale(1.05);
    z-index: 20;
    box-shadow: 0px 0px 20px 5px rgb(29, 49, 229);
    backdrop-filter: blur(5px);
}


@media screen and (max-width: 800px) {
    .frameLogo {
        width: auto;
    }
    .frameLogo .logo-container {
        margin-top: 1rem;
        height: 4rem;
        width: 4rem;
    }
    .frameLogo .logo-container #skill-logo {
        height: 100%;
        width: 100%;
    }
    
    .frameLogo #skill-heading {
        font-size: 1rem;
        margin-top: 0.5rem;
    }
}
