.about-page {
    height: 170vh;
    width: 100vw;
}

.about-page .about-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
    margin-left: 13vw;
    margin-top: 2.5vh;
    border-radius: 14px;
    /* box-shadow: 0px 0px 20px 5px rgb(29, 49, 229); */
}

.about-page .about-text-container {
    width: 70vw;
    height: 60vh;
    border: 1px solid white;
    padding: 0 3%;
    display: flex;
    align-items: center;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.about-text-container:hover {
    background-color: rgb(29, 49, 64);
    /* font-size: 3.5vh; */
    transform: scale(1.01);
    box-shadow: 0px 0px 5px 5px rgb(29, 49, 64);
    border-radius: 14px;
}

.about-page .about-text-container p {
    color: white;
    font-size: 3vh;
    line-height: 6vh;
}
.about-image-container {
    border: 1px solid white;
    height: 60vh;
    width: 60vh;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-image: url("../../../public/PHOTO2.1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.about-image-container:hover {
    transform: scale(1.02);
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
.about-image-container:hover #about-my-image {
    transform: scale(1.02);
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    box-shadow: 0px 0px 5px 5px rgb(29, 49, 64);

}

#about-my-image {
    height: 60vh;
    width: 60vh;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;   
}

.about-cards-container {
    height: 80vh;
    width: 80vw;
    margin-top: 3%;
    margin-left: 12.8vw;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 800px) {
    #about {
        /* position: relative;
        top: 20rem; */
        margin: 0;
        /* margin-top: 25rem; */
        width: 100%;
        height: auto;
        /* display: flex;
        flex-direction: column; */
        overflow: hidden;
    }

    .about-page .about-container {
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
        height: 100%;
        align-items: center;
        justify-content: center;
        box-shadow: none;
    }

    .about-image-container {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        background-image: url("../../../public/PHOTO1.1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #about-my-image {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
    }
    .about-image-container:hover {
        border-radius: 50%;
        transform: scale(1.1);
    }
    .about-image-container:hover #about-my-image {
        border-radius: 50%;
        transform: scale(1.1);
    }



    .about-text-container {
        overflow: hidden;
        height: atuo;
        width: 110%;
        border-radius: 14px;
        margin: 1rem auto;
    }

    .about-text-container #text {
        margin: 1rem;
        margin-top: 2rem;
        font-size: 1rem;
        line-height: 1.8rem;
        overflow: hidden;
        height: auto;
        width: 100%;
    }

    .about-cards-container {
        display: flex;
        flex-direction: column;
    }

}