.skills-page {
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}


.skills-box {
    height: 70vh;
    width: 70vw;
    margin: auto;
    margin-top: 2vh;
    display: grid;
    grid-template-columns: repeat(3, 30fr);
    grid-template-rows: repeat(2, 50fr);

}

@media screen and (max-width: 800px) {
    .skills-page {
        width: 100%;
        height: auto;
    }

    .skills-page .skills-box {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 40fr);
        grid-template-rows: repeat(3, 30fr) ;
        column-gap: 1.5rem;
    }

    .skills-page .skills-box .skill-container {
        margin-top: 2rem;
    }

}
